# Build Maven
target/

# IDEs
.idea/
*.iml
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Variáveis de ambiente (se houver arquivo local)
.env

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Keep example file
!terraform.tfvars.example